*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    background-image: url('Terminal_Combat.png');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center
}

span {
    background-color: yellow;
}

.hide {
    display: none;
}

/********   Story *******/
.container {
    width: 600px;
    margin: 0 auto;
    background-color: rgba(250, 235, 215, 0.815);
}

/********   Input ********/

.form-container {
    width: 600px;
    margin: 20px auto;
    text-align: center;
}

.form-container form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.fields {
    display: flex;
    flex-direction: column;
}

.fields label {
    margin: 10px 0;
    font-weight: bold;
}

.fields input {
    margin: 5px;
}
.name{
    text-transform: capitalize;
}
.placeholder.verb.first{
    text-transform: capitalize;
}

button {
    padding: 10px;
    display: block;
    margin: 10px auto;
}